---
import Layout from '../layouts/Layout.astro';
import Hyperscale from '../components/pages/Hyperscale.svelte';
---

<Layout title="Hyperscale AI - Republic Stats">
  <main>
    <Hyperscale client:load />
  </main>
</Layout>